<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="layout-color"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <property name="layout"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <!--输出到控制台 ConsoleAppender-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">　　　　
        <encoder>　　　　　　　　
            <pattern>${layout-color}</pattern>　　
        </encoder>
        　　　　
    </appender>

    <appender name="DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        　　　　　　　　
        <file>game/target/log/debug.log</file>
        <append>true</append>　

        <encoder>　　
            <charset>UTF-8</charset>　　　　　　　　　
            <pattern>${layout}</pattern>　　　　　　　　
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>game/target/log/debug.%d{yyyy-MM-dd}.log</fileNamePattern>　　　　　　　　
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        　　　　　　
    </appender>

    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        　　　　　　　　
        <file>game/target/log/info.log</file>
        <append>true</append>　

        <encoder>　　
            <charset>UTF-8</charset>　　　　　　　　　
            <pattern>${layout}</pattern>　　　　　　　　
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>game/target/log/info.%d{yyyy-MM-dd}.log</fileNamePattern>　　　　　　　　
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        　　　　　　
    </appender>

    <appender name="WARN_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        　　　　　　　　
        <file>game/target/log/warn.log</file>
        <append>true</append>　

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>game/target/log/warn.%d{yyyy-MM-dd}.log</fileNamePattern>　　　　　　　　
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>　
            <charset>UTF-8</charset>　　　　　　　　
            <pattern>${layout}</pattern>　　　　　　　　
        </encoder>
        　　　　　　
    </appender>

    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        　　　　　　　　
        <file>game/target/log/error.log</file>
        <append>true</append>　

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>game/target/log/error.%d{yyyy-MM-dd}.log</fileNamePattern>　　　　　　　　
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>　
            <charset>UTF-8</charset>　　　　　　　　
            <pattern>${layout}</pattern>　　　　　　　　
        </encoder>
        　　　　　　
    </appender>

    <!--指定最基础的日志输出级别-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DEBUG_LOG"/>
        <appender-ref ref="INFO_LOG"/>
        <appender-ref ref="WARN_LOG"/>
        <appender-ref ref="ERROR_LOG"/>
    </root>

    <logger name="distributed1" leve="info" additivity="false">
        <appender-ref ref="INFO_LOG"/>
        <appender-ref ref="WARN_LOG"/>
        <appender-ref ref="ERROR_LOG"/>
    </logger>


</configuration>